
  <template name="afmelden">
  <!-- div page is over alles -->
  <div class="page home">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-center">
       {{#if currentUser}}
        <h1 class="title-page">Afmelden voor.</h1>


          <table class="table table-striped">
          <thead>
            <tr>
              <th>Naam</th>
              <th>Email</th>
              <th>Leeftijd</th>
            </tr>
          </thead>
            <tbody>
              {{#each aangemeld}}
               {{> aanmelding}}  
              {{/each}}
            </tbody>
          </table>
 


          {{/if}}
      </div>
     
    </div>

  </div>  
</template>