
  <template name="afmelden">
  <!-- div page is over alles -->
  <div class="page home">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-center">
        {{#if noUser}}
        <h1>Afmelden.</h1>
        <p>Om af te melden voor een les is het nodig om eerst in te loggen.</p>
          <!-- {{> signin}} -->

        {{/if}}
       {{#if currentUser}}
        <h1 class="title-page">Afmelden voor.</h1>


          <table class="table table-striped">
          <thead>
            <tr>
              <th>Naam</th>
              <th>Datum</th> 
              <th>Actie</th>
            </tr>
          </thead>
            <tbody>
              {{#if isInRole 'admin'}}
              {{#each Adminaangemeld}}
                 <tr>
                  <td>{{naam}}</td>
                  <td>{{initDate}}</td>
                  <td class="deleteAanmelding">X</td>
                </tr>
              {{/each}}
              {{else}}
              {{#each aangemeld}}
                 <tr>
                  <td>{{naam}}</td>
                  <td>{{initDate}}</td>
                  <td class="deleteAanmelding">X</td>
                </tr>
              {{/each}}
              {{/if}}
            </tbody>
          </table>
 


          {{/if}}
      </div>
     
    </div>

  </div>  
</template>