
  <template name="afmelden">
  <!-- div page is over alles -->
  <div class="page home">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-center">

        <h1 class="title-page">Afmelden voor.</h1>
        <p class="intro-page" > </p>

  
       <div class="rooster">
   
         {{email}}
          </div> 
      </div>
     
    </div>

  </div>  
</template>