/* dit is een normale css pagina voor de layout*/

body{
  font-family: 'Open Sans', sans-serif;
   
}

.box1{
  float:left;
  width: calc( 100% - 200px );
  padding-left: 10px;
  font-size: 26px;
  text-align: left;
}
.les-mid-top{
  padding: 5px;
  height: 35px;

}
.les-mid-bottom{
  padding: 5px;
  height: 30px;
  font-size: 18px;
  text-transform: capitalize;
  color: #32B4F7;

}
.table-striped th{
  font-weight: 600;
}
   @media screen and (max-width: 820px) {
.box1{
  font-size: 16px;
}

}

#showme{
	display: none;
}

.blue-btn{
	 
    padding-left: 10px;
    height: 35px;
    color: white;
    background-color: #00ADEF;
}
.full-width{
	width: 100%;
}
.control-label{
	height: 1.5em;
}
.delete,.deleteAanmelding{
  cursor: pointer;
}
.delete:hover, .deleteAanmelding:hover{
  color: red;
}
.customform input{
  padding: 1em;
  margin-bottom: 5px;
}
#required-star{
  color: #00ADEF;
  margin: 3px;
}


