<template name="bootcamp">
  <!-- div page is over alles -->
  <div class="page bootcamp">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="image-container">

          <img src="/img/westbeach-raften.png" class="img-full image-in-container">
          <span class="title-in-image">Bootcamp.</span>
          <span class="slogan-in-image">Schrijf je hier in.</span>
      </div>
      <div class="wrapper-center">


          <div class="rooster">
          {{#each lessen}}
            {{>les}}
          {{/each}}

          </div>
      </div>

   
      
     
    </div>

  </div>


  
</template>