
  <template name="contact">
  <!-- div page is over alles -->
  <div class="page home">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-center">

        <h1 class="title-auth" style="margin-top:40px;">Contact</h1>

        <div class="contact-box">
          <p>Strand Molenslag 12 (Noordzijde)</p>
          <p>2681 VP Monster</p>
          <br>
          <p><i class="fa fa-phone" aria-hidden="true"></i> +31(0)6 15 48 95 18</p>
          <p><a href="mailto:info@westbeach.nl" style="color: #414141;"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@westbeach.nl</a></p>
          <br>

          <a href="https://www.facebook.com/WestlandWestbeach/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
          
          <p>

          <a href="https://twitter.com/WestbeachEvent" target="_blank"><i class="fa fa-twitter"></i>  Twitter</a>
          </p>
        </div>



  


 


     
      </div>
     
    </div>

  </div>  
</template>