
  <template name="contact">
  <!-- div page is over alles -->
  <div class="page home">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-center">

        <h1>Contact</h1>

        <div class="contact-box">
          <p>Strand Molenslag 12 (Noordzijde)</p>
          <p>2681 VP Monster</p>
          <br>
          <p>Tel: +31(0)6 15 48 95 18</p>
          <p>Email: info@westbeach.nl</p>
          <br>
       
          <a href="https://www.facebook.com/WestlandWestbeach/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
          
          <a href="https://twitter.com/WestbeachEvent" target="_blank"><i class="fa fa-twitter"></i>  Twitter</a>
          
        </div>



  


 


     
      </div>
     
    </div>

  </div>  
</template>