<template name="dashboard">

  <div class="page dashboard">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>


    <div class="wrapper-center">
      {{#if isInRole 'admin'}}
        <h1 class="title-page">Gebruikers</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Email Adres</th>
              <th class="text-center">Niveau</th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
              <tr>
                
                            <td class="text-left text-middle">{{#if isCurrentUser _id}}<label class="label label-success">You!</label>{{/if}} 

                            {{emails.[0].address}}</td>
              <td>
               <select {{disableIfAdmin _id}} name="userRole" class="form-control">
                  <option selected="{{selected roles.[0] 'user'}}" value="user">Gebruiker</option>
                  <option selected="{{selected roles.[0] 'admin'}}" value="admin">Admin</option>
                  <option selected="{{selected roles.[0] 'instructeur'}}" value="instructeur">Instructeur</option>
                </select>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
 </div> 
</template>