<template name="home">
  <!-- div page is over alles -->
  <div class="page home">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="image-container">

          <img src="/img/westbeach-raften.png" class="img-full image-in-container">
          <span class="title-in-image">Alle lessen</span>
          <span class="slogan-in-image">Schrijf je snel in!</span>
      </div>
      <div class="wrapper-center">  
          <div class="rooster">
          {{#each lessen}}
             {{>les}}
          {{/each}}
          </div>
      </div>
      <!-- <img src="/img/Kitesurf_kennismaking_Kitewest_1.png" class="img-full"> -->
    </div>

  </div>  
</template>