<template name="kitesurfen">
  <!-- div page is over alles -->
  <div class="page kitesurfen">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>
    <div class="content-scrollable">
      <div class="image-container">

        <img src="/img/westbeach-kiten.png" class="img-full image-in-container">
        <span class="title-in-image">Kitesurfen.</span>
        <span class="slogan-in-image">Schrijf je hier in.</span>
    </div>
    
      <div class="wrapper-center">

      <!-- <h2>Komende lessen.</h2> -->
          <div class="rooster">
          {{#each lessen}}
             {{>les}}
          {{/each}}
          </div>
      </div>


      
    </div>

  </div>  
</template>


