<template name="kitesurfen">
  <!-- div page is over alles -->
  <div class="page kitesurfen">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-center">

        <h1 class="title-auth">Kitesurfen.</h1>
        <p class="subtitle-auth" >Leer professioneel en veilig kitesurfen bij Kitesurfschool Kitewest. Aan de Westlandse kust zijn we de grootste Kitesurfschool met de meeste ervaring. In 2005 begon Kitewest met het geven van Kitesurfles. Na zoveel jaar zijn we nog steeds niet uitgekeken op deze fantastische sport. Dit enthousiasme brengen we graag op jou over! Met onze ruime ervaring ben je verzekerd van een veilig en goed opgebouwd lesprogramma. Je krijgt les volgens een veilig stappenplan wat de risico’s van de sport nihiel maakt. Al onze instructeurs zijn bovendien opgeleid en gecertificeerd.</p>

      </div>
    </div>

  </div>
  
</template>