<template name="kitesurfen">
  <!-- div page is over alles -->
  <div class="page kitesurfen">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-center">

        <h1 class="title-page">Kitesurfen.</h1>
        <p class="intro-page" >Leer professioneel en veilig kitesurfen bij Kitesurfschool Kitewest.  </p>

      <h1>Komende lessen.</h1>
          <div class="rooster">
          {{#each lessen}}
             {{>les}}
          {{/each}}
          </div>
      </div>
      <img src="/img/Kitesurf_kennismaking_Kitewest_1.png" class="img-full">
    </div>

  </div>  
</template>


<template name="les">
              <div class="les-moment">
                <div id="date-blue"><span id="number">{{date}}</span><br><span id="month"></span></div>
              <div class="box1">
                {{starttime}}| {{level}}</div>
              <div class="box2"><button>Inschrijven</button><br>
                <span>2/{{capaciteit}}</span></div>
            </div>
            {{#if currentUser}}
            <span class="delete">Remove</span>
            {{/if}}
  </template>