
<template name="les">
  <div class="les-moment">
    <!-- leermoment! {{displaydate date}} pakt date als input variable nu ;) -->
    <div id="" class="date-blue {{status}}"><span id="number">{{displaydate date}}</span>
      <br>
      <span id="month">{{displaymonth date}}</span></div>
      <div class="box1">
        <img src="/img/{{sport}}-icon.png" class="small-icon">
        <span class="les-mid-top">{{starttime}}</span><br><span class="les-mid-bottom">{{level}}</span>
      </div>

      

     <div class="box2"><button id="inschrijf-popup" class="black-btn">Inschrijven</button><br>
      <div id="" class="box3">{{#if weergaveStatus}}
          <p class="stoplicht {{status}}">{{status}}</p>  
          {{else}}
          <div class="gaatDoorBalk"></div>
          {{/if}}
      </div>
      {{#if isKitesurfen}}
        <span>{{aantalDeelnemers}}/{{capaciteit}}</span>
        {{/if}}   
    </div>
      </div>
    <div  id="info-box">
      {{info}}
      </div>
  
      {{#if currentUser}}
          {{#if isInRole 'admin' 'instructeur'}}
      <div id='adminknoppen'>
      <button class="status btn {{status}}">Status: {{status}}</button>
      <button class="mail btn" id="custombtn">Mail deelnemers</button>
      <button class="delete btn" id="custombtn">Verwijder</button>
      </div>
          {{/if}}
      <table id="tabelaanmelding" class="table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Leeftijd</th>
          <th>Afmelden</th>
        </tr>
      </thead>
      <tbody>     
        {{#if isInRole 'admin, instructeur'}}
          {{#each aanmeldingen}}
           {{> aanmelding}}
          {{/each}}
        {{else}}
          {{#each aangemeld}}
            {{> aanmelding}}
          {{/each}}
        {{/if}}   
      </tbody>
      </table>
   {{/if}}

  </template>
    
<template name="aanmelding">
    <tr class="aanmelding-row">
        <td>{{naam}}</td>
        <td>{{leeftijd}}</td>
        <td colspan="2" class="deleteAanmelding">X</td>
    </tr>
    <tr class="telEnVraag">
      <td>
        <div class="telbox">{{telefoon}}</div>
      </td>
      <td colspan="2">{{email}}</td>
    </tr>
    <tr class="vraag">
      <td colspan="4">{{vraag}}</td>
    </tr>
  
  </template>


