
<template name="les">
  <div class="les-moment">
    <!-- leermoment! {{displaydate date}} pakt date als input variable nu ;) -->
    <div id="" class="date-blue {{status}}"><span id="number">{{displaydate date}}</span>
      <br>
      <span id="month">{{displaymonth date}}</span></div>
      <div class="box1">
        <img src="/img/{{sport}}-icon.png" class="small-icon">
        <span class="les-mid-top">{{starttime}}</span><br><span class="les-mid-bottom">{{level}}</span>
      </div>

      

     <div class="box2"><button id="inschrijf-popup" class="black-btn">Inschrijven</button><br>
      <div id="" class="box3">{{#if weergaveStatus}}
          <p class="stoplicht {{status}}">{{status}}</p>  
          {{/if}}
      </div>
      {{#if isKitesurfen}}
        <span>{{aantalDeelnemers}}/{{capaciteit}}</span>
        {{/if}}   
    </div>

      </div>
      <div  id="info-box">
      {{info}}
      </div>
      {{#if currentUser}}
          {{#if isInRole 'admin, instructeur'}}
      <button class="status btn {{status}}">Status: {{status}}</button>
      <button class="mail btn" id="custombtn">Mail deelnemers</button>
      <button class="delete btn" id="custombtn">Verwijder les</button>
          {{/if}}
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Email</th>
          <th>Leeftijd</th>
        </tr>
      </thead>
      <tbody>
        {{#each aangemeld}}
        {{#each aanmelding}}
          {{> aanmelding}}
        {{/each}}
        {{/each}}
      </tbody>
      </table>
   {{/if}}

  </template>
    
<template name="aanmelding">
      <tr>
        <td>{{naam}}</td>
        <td>{{email}}</td>
        <td>{{leeftijd}}</td>
        <td class="deleteAanmelding">X</td>
      </tr>
</template>
