<template name="ForgotPassword">
  <div class="page home">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-center">
         {{#if atDisabled}}
          Please wait...
         {{/if}}

        {{> atForm state="forgotPwd" }}
      </div>
     
    </div>

  </div>  
</template>

<template name="ResetPassword">
  <div class="page home">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>


    <div class="content-scrollable">
      <div class="wrapper-center">

        {{#if atDisabled}}
          Please wait...
         {{/if}}
         {{#if currentUser }}
             You're logged in
          {{/if}}
        {{> atForm state="resetPwd" }}
      </div>
     
    </div>

  </div>  
</template>