<template name="rooster">
  <!-- div page is over alles -->
  <div class="page rooster">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-center">

        <h1 class="title-page">Rooster.</h1>
        <p class="intro-page" >Voeg hier nieuwe lessen aan de planning toe </p>
  
      <h1>Nieuwe les.</h1>
      <form>
        <!-- Sport -->
          <div class="form-line">
            <label class="radio-inline"><input type="radio" name="sport" value="kitesurfen">Kitesurfen</label>
            <label class="radio-inline"><input type="radio" name="sport" value="golfsurfen">Golfsurfen</label>
          </div>
         <!-- Datum -->
        <div class="form-line ">
                 <div class="input-group datepicker">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input class="set-due-date form-control" type="text" name="date"/>
              </div>


                 <div class="input-group timepicker">
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                <input class="set-due-date form-control" type="text" name="time"/>
              </div>
        </div>
        <!-- Level  -->
         <div class="form-line">
            <label class="radio-inline"><input type="radio" name="level" value="beginner">Beginner</label>
            <label class="radio-inline"><input type="radio" name="level" value="advanced">Gevorderd</label>
          </div>
        <!-- Capaciteit van les -->
          <div class="form-line spinner-line">
            <span class="label-spinner">Capaciteit</span><br>
            {{> numberSpinner min=4 max=10 value=5 id="numberSpinner" name="capaciteit"}}
          </div>
         <!-- Bijzonderheden -->
          <div class="form-line ">
            <input type="text" name="info" placeholder="Extra info" />
            <span class="icon-info" title="Extra informatie"></span>
          </div>

        <div class="form-line">
          <button type="submit" class="submit" value="submit">Submit</button>
        </div>
      </form>

      </div>
    </div>
  </div>


  
</template>